<!DOCTYPE html>
<html>
<head>
	<title>Ogłoszenie</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default" role="navigation">
 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="container">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="#">WHAT'S UP BABY!</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarCollapse">
   <ul class="nav navbar-nav">
    <li class="active"><a href="http://www.tutorialrepublic.com" target="_blank">Tablica ogłoszeń</a></li>
    <li><a href="http://www.tutorialrepublic.com/about-us.php" target="_blank">Poczta</a></li>
    <li><a href="http://www.tutorialrepublic.com/contact-us.php" target="_blank">Zdjęcia</a></li>
    <li><a href="http://www.tutorialrepublic.com/contact-us.php" target="_blank">Dane rodziców</a></li>
   </ul>
  </div>
</div>
</nav>
<div class="container">
	<div class="jumbotron">
		<h1>Hello Baby!<h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget risus.</p>
	</div>

    <div class="row">
        <div class="col-md-6">Tablica ogłoszeń</div>
        <div class="col-md-6">Poczta</div>
    </div>
    <div class="row">
    	<div class="col-md-6">Zdjęcia</div>
    	<div class="col-md-6">Dane rodziców</div>
    </div>
</div>
<script type="text/javascript" rel="js/jquery-1.12.3.min"></script>
<script type="text/javascript" rel="js/bootstrap.min.js"></script>
</body>
</html>